@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .less) que se van
 * a compilar en el CSS definitivo
 */
/**
* Librerías
**/
/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*--------------------------------------------------*\
              #Gradientes - alternativa a bootstrap
\*--------------------------------------------------*/
/* ============================================================ */
/*  linear-gradient */
/*  @param dir                 :  top, left, 90deg */
/*  @param start-color         :  #000, rgba(255,255,255,0.5) */
/*  @param end-color           :  #000, rgba(255,255,255,0.5) */
/*  NOTE: The direction for the IE gradient is automagically  */
/*  worked out for you based either on the direction or the  */
/*  angle that you pass in. Obviously it will only be a  */
/*  horizontal or vertical gradient, but it's still awesome. */
/*  ALSO: Support for rgba is covered in IE too. Values are  */
/*  converted to aRGB. */
/*  @example .linear-gradient(50deg,  #eee, #aaa); (IE auto included) */
/*  OR */
/*  @example .linear-gradient-multi(~'top, #eee 0%, #aaa 50%, #eee 100%'); */
/*           .linear-gradient-ie(top, #eee, #aaa); */
/*  @see http:dev.w3.org/csswg/css3-images/#linear-gradients */
/* ============================================================ */
/*------------------------------------*\
    $FUNCIONES
\*------------------------------------*/
/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
/**
* The ghost, nudged to maintain perfect centering
*/
/**
* Escondemos el texto VISUALMENTE - alternativa a bootstrap q lo mantiene en sitio;
*/
/**
* Escondemos el texto de VISUALMENTE y SCREENREADERS
*/
/**
* Escondemos pero mantenemos layout.
*/
/**
* Bases
**/
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Settings...................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de LESS

 * Funciones..................... Clases de ayuda

 * Flex.......................... Documentacion y mixins para usar flexbox

 * Placeholders.................. Manejo de textos del sitio

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Tipografía.................... Encabezados, small, párrafos, listas, etc... Fuentes que vamos a importar

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tú quieres ;)

 * Botones....................... Estilos de Botones, skins y variantes

 * Paginación.................... Estilos básicos para las paginaciones

 * Fonticon...................... Definicion de fuente para iconos alternativa a bootstrap

 * Texturas...................... Estilos para la guía de patrones
 */
/**
* Selectores de elemento
**/
/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
/*------------------------------------*\
    $FORMULARIOS
\*------------------------------------*/
/*------------------------------------*\
    $IMÁGENES
\*------------------------------------*/
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
/* Google Fonts */
.text-xs-left {
  text-align: left;
}
.text-xs-right {
  text-align: right;
}
.text-xs-center {
  text-align: center;
}
.text-xs-justify {
  text-align: justify;
}
@media (min-width: 48em) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}
@media (min-width: 62em) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}
@media (min-width: 75em) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
}
/* texto en color blanco */
.text-white {
  color: #fff;
}
/*------------------------------------*\
    $TABLAS
\*------------------------------------*/
/**
* Layout del sitio
**/
/*------------------------------------*\
    $SITIO
\*------------------------------------*/
/**
* A partir de aquí es donde escribimos los estilos de posicionamiento
* y detalles que forman la web. Disfruta!
*/
/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/* scrollbars */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: #333333;
}
::-webkit-scrollbar-track {
  background: #eeeeee;
}
body {
  scrollbar-face-color: #333333;
  scrollbar-track-color: #eeeeee;
}
/**
* Abstracciones y objetos
**/
/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */
/**
 * .btn es la clase principal para definir un botón
 */
/*------------------------------------*\
    $BOTONES-VARIANTES
\*------------------------------------*/
/**
 * Variantes de los botones: color para dar sensaciones.
 *
 */
/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/* Estilos Font awesome */
/*------------------------------------*\
    $grid
\*------------------------------------*/
/*------------------------------------*\
    $PAGINACION
\*------------------------------------*/
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
/*------------------------------------*\
    COLORS
\*------------------------------------*/
/* Colores sociales -> son los colores corporativos
 * si hace falta, añadir más
 */
::-moz-selection {
  background-color: #ffffff;
  color: #337ab7;
  text-shadow: none;
}
::selection {
  background-color: #ffffff;
  color: #337ab7;
  text-shadow: none;
}
